*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    background-image: url(images/pattern-bg.png);
    background-image: no-repeat;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

 h1.titolo{
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin-bottom: 18px;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    font-weight: 500;
    font-size: 28px;
}

form{
    display:flex;
    align-items: center;
    justify-content: center;

}
div.img{
    height:35px;
    width: 50px;
    background-color: black;
    right: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

input{
    width: 440px;
    height:35px;
    border-radius: 12px;
   border: none;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    margin-left: 15px;
}



div.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: 100px;
    height: 100px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 8px 12px grey;
    z-index: 1;
}

div.container div{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    flex-direction: column;
   
}

div.container h4{
    font-size: 8px;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(0, 0%, 59%);
    padding: 0 20px;
    line-height: 0;
    margin-top:14px;
    

}
h2.no-border{
    border:none !important;
}

div.container h2{
    line-height: 19px;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 15px;
    border-left: 1px solid hsl(0, 0%, 59%);
    margin-bottom: 30px;
    padding-top: 16px;
}
#map {
     height: 64%;
    position: relative;
   bottom: 149px;
    z-index: 0;

 }


/*START MEDIA QUERY*/


 @media screen and (max-width:850px) {
    div.container h2{
        font-size: 12px;
        margin: 0;
        padding: 10px;
     padding-left: 15px;
}
    } 
    input{
        width:370px;
    }
    div.container div {
        padding: 10px 0;
    }
 

 @media screen and (max-width:550px){
    div.container h2{
        font-size: 10px;
    } 

    input{
        width:340px;
    }

    div.container div {
   
       align-items: center;
    }
 }



 @media screen and (max-width:480px){
div.container{
    flex-direction: column;
    height: auto;
    bottom: 128px;
    width:85%;
}

.leaflet-bar {
    position: relative;
    top: 120px;
}

#map{
    height: 63%;
    bottom: 191px;
}

div.container h2 {
    line-height: 0px;
    font-size: 11px;
    padding: 10px 10px 5px 5px;
    margin-bottom: 3px;
    border-left: none;
    

}

input{
    width:100%;
}

div.container div {
    width:100%;
}

div.container h4 {
   
    margin-top: 5px;
    margin-bottom: 5px;
 }

 h1.titolo{
    font-size: 16px;
 }

 }